html,body { height: 100%; width: 100%; margin: 0; padding: 0; }
body { background-color: #EFF2F5; font: 16px Arial,Helvetica,sans-serif;}
#backdrop { position: relative; margin: 0 auto; width: 80%; min-width: 750px; min-height: 100%;
 background-color: hsl(213,42%,91%); /*#dde6f1*/
 border: 1px solid white;
 border-width: 0 1px;
 box-shadow: 0 0 5px 5px #ccc;
}
#menuContainer {
 position: fixed;
 min-width: 150px;
 width: 16%;
 height: 100%;
 overflow-y: auto;
}
#panelContainer { position: relative; left: 20%; width: 80%; min-width: 600px; min-height: 100%; }
#panel { background-color: hsl(213,42%,91%); /*#dde6f1*/ padding: 10px; border: 0; min-height: 100%; border: 0 solid silver; border-width: 0 0 0 1px; }

#currentPanel {

 width: 100%;
 height: 100%;

 background-color: transparent;
 border: 0 none transparent;
 padding: 0;
 margin: 0;
 overflow: hidden;
}

.flipped { -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); filter: FlipH; -ms-filter: "FlipH"; }
.fright { float: right; }
.fleft { float: left; }
.noshow { display: none; }
.nothere { visibility: hidden; }

#menuHeader { width: 100%;}

ul#superMenu, ul.subMenu {
 list-style-type: none;
 padding: 0;
}

#superMenu {
 margin: 1em auto;
 width: 90%;
 min-width: 140px;
}


#superMenu a {
 display: inline-block;
 height: 100%; width: 100%;
 text-decoration: none;
 outline: none;
}

.subMenu {
 width: 100%;
 margin: 0 0 2px;
 border: solid silver;
 border-width: 0 1px 1px;
}

.subMenu a {
	font-weight: normal;
	text-indent: 30px;
}

.superMenuLink { 
	padding: 10px 0; 
	border: 1px solid silver; 
	font-weight: bold;
	text-indent: 20px;
}
.subMenuLink { padding: 5px 0; }

 /* Control Page styles BEGIN */

.pageTitle {
 margin: 0;
 padding: 0;
 font-size: 1.5em;
 font-weight: bold;
 color: hsl(209, 77%, 19%); /* #0B3256 */
}

.smallText{
	font-size: .85em;
}

.xsmallText{
	font-size: .75em;
	font-weight: normal;
}

.inline {
	display: inline-block;
}

.controlTable tr td:first-child {
 min-width: 7em;
}

.controlTable tr td {
 padding: .1em .05em;
}

.subTable {
 margin: 0;
}

.controlBox {
/*
 outline: 1px solid silver;
*/
 margin: 10px 5px;
 background: #CED7E1;
}

.controlBoxTitle {
 display: inline-block;
 font-size: 1.2em;
 font-weight: bold;
 text-indent: .5em;
 color: #1B75BB;
 margin: .4em 0 .4em .25em;
}

.controlBoxContent {
 overflow-x: auto;
 padding: 1em;
 background: #EFF2F5;
 border: 1px solid transparent;
}

.nobullets {
	list-style-type: none;
}

 /* Control Page styles END */

 /* basic button styles BEGIN */

input[type=button], .button {
 color: hsl(204, 70%, 59%);
 background: #F0F3F6;
 background: hsl(210, 25%, 95%);

 background: -webkit-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%);
 background: -ms-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%); 
 background: -moz-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%);
 background: -o-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%); 
 background: linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%);
 cursor: pointer;
}

input[type=button]:hover, .button:hover {
 color: hsl(204, 70%, 30%);
 border-color: transparent;
 background: #F7CA61;
 background: hsl(42, 90%, 67%);

 background: -webkit-linear-gradient(bottom, #f5bc38, #f9d990);
 background: -ms-linear-gradient(bottom, #f5bc38, #f9d990);
 background: -moz-linear-gradient(bottom, #f5bc38, #f9d990);
 background: -o-linear-gradient(bottom, #f5bc38, #f9d990);
 background: linear-gradient(bottom, #f5bc38, #f9d990);
}

input[type=button]:active, .buttonSelected {
 color: white;
 border-color: transparent;
 background: #1B75BB;
 background: hsla(206, 75%, 42%, 1);

 background: -webkit-linear-gradient(top, #4FA5E0, #1B75BB);
 background: -ms-linear-gradient(top, #4FA5E0, #1B75BB);
 background: -moz-linear-gradient(top, #4FA5E0, #1B75BB);
 background: -o-linear-gradient(top, #4FA5E0, #1B75BB);
 background: linear-gradient(top, #4FA5E0, #1B75BB);
}

input[type=button] {
	border-radius: .2em;
	border: 1px solid silver;
	padding: .15em .25em;
}

.controlBoxContent > input {
	margin: 5px 0;
}

input#test {
	margin: 0 5px;
}

input {
	padding-left: 0.3em;
}

.shortinput {
	width: 3em;
	text-align: left;
/*    margin-right: .25em;*/
}

.longinput {
	width: 10em;
}



 /* basic button styles END */

 /* radioSwitch BEGIN */

/*
.radioSwitchElement { display: none; visibility: hidden; }
*/

.radioSwitch {
 list-style-type: none;
 display: inline-block;
 border: 1px solid silver;
 border-radius: 10px;
 padding: 0;
 margin: 0;

}

.radioSwitch > li {
/*    border-color: silver; 
	border-image: none; 
	border-style: solid; 
	border-width: 0 1px 0 0; 
	display: inline-block; 
	height: 2em; 
	line-height: 1em; 
	text-align: center; 
	width: 6em; 
 /*padding: .5em .75em;*/

  display: inline-block;
 border: solid silver;
 border-width: 0 1px 0 0;
 padding: .5em .75em;
}

.radioSwitch > li:first-child { 
	border-radius: 8px 0 0 8px; }
.radioSwitch > li:last-child { 
	border-width: 0; 
	border-radius: 0 8px 8px 0; 
}

 /* radioSwitch END */

 /* slideToggle BEGIN */

.slideToggle {
 display: none;
 visibility: hidden;
}
.slideToggleButton,
.slideToggleContent,
.slideToggleSlider {
 -webkit-transition: all 400ms ease-in-out;
 -moz-transition: all 400ms ease-in-out;
 -ms-transition: all 400ms ease-in-out;
 -o-transition: all 400ms ease-in-out;
 transition: all 400ms ease-in-out;
}

.slideToggleSlider { position: relative; height: 100%; width: 200%; }

tr .slideToggleViewport {
	margin: .35em;
}

.slideToggleViewport {
	border: 1px solid silver;
	border-radius: 1.75em 1.75em 1.75em 1.75em;
	cursor: pointer;
	display: block;
	height: 1.75em;
	overflow: hidden;
	position: relative;
	width:3.8em;
}

.slideToggleButton {
	border-radius: 50%;
	cursor: pointer;
	display: block;
	height: 1.75em;
	position: absolute;
	top: 0;
	width: 1.75em;
}

.slideToggleButtonBackground {
 background-color: #f2f2f2;
 filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFF2F2F2', endColorstr='#FFDDDDDD');
 background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IiIgcj0iODYiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiLz48c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjxzdG9wIG9mZnNldD0iNjElIiBzdG9wLWNvbG9yPSIjZTJlMmUyIi8+PHN0b3Agb2Zmc2V0PSI4NiUiIHN0b3AtY29sb3I9IiNkZGRkZGQiLz48L3JhZGlhbEdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
 background-image: -webkit-gradient(radial, 50%, 0, 50%, 86, color-stop(0%, #f2f2f2), color-stop(32%, #eeeeee), color-stop(61%, #e2e2e2), color-stop(86%, #dddddd));
 background-image: -webkit-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
 background-image: -moz-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
 background-image: -o-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
 background-image: -ms-radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
 background-image: radial-gradient(center, ellipse cover, #f2f2f2 0%, #eeeeee 32%, #e2e2e2 61%, #dddddd 86%);
 background-size: 100%;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 -webkit-box-shadow: white 0 10px 8px inset, rgba(0, 0, 0, 0.4) 0 -5px 8px inset, rgba(0, 0, 0, 0.2) 0 0 5px;
 -moz-box-shadow: white 0 10px 8px inset, rgba(0, 0, 0, 0.4) 0 -5px 8px inset, rgba(0, 0, 0, 0.2) 0 0 5px;
 box-shadow: white 0 10px 8px inset, rgba(0, 0, 0, 0.4) 0 -5px 8px inset, rgba(0, 0, 0, 0.2) 0 0 5px;
}

.slideToggleContent {
 cursor: pointer;
 display: inline-block;
 float: left;
 height: 100%;
 width: 50%;
/* font-weight: bold;*/
}

.slideToggleContent span {
float: left;
height: 100%;
line-height: 1.75em;
margin: 0em .6em;
}

.slideToggleRight span { float: right; }
.slideToggle + .slideToggleViewport .slideToggleContent { width: 41.75%; }

.slideToggle:checked + .slideToggleViewport > .slideToggleSlider { left: 0; }
.slideToggle:checked + .slideToggleViewport .slideToggleButton { left: 28%; }
.slideToggle:checked + .slideToggleViewport .slideToggleLeft { margin-left: 0; }

.slideToggle + .slideToggleViewport > .slideToggleSlider { left: -100%; }
.slideToggle + .slideToggleViewport .slideToggleButton { left: 50%; }
.slideToggle + .slideToggleViewport .slideToggleLeft { margin-left: 16.5%; }


/*
.slideToggle + .slideToggleViewport > .slideToggleSlider { left: 0; }
.slideToggle + .slideToggleViewport .slideToggleButton { left: 34%; }
.slideToggle + .slideToggleViewport .slideToggleLeft { margin-left: 0; }

.slideToggle:checked + .slideToggleViewport > .slideToggleSlider { left: -100%; }
.slideToggle:checked + .slideToggleViewport .slideToggleButton { left: 50%; }
.slideToggle:checked + .slideToggleViewport .slideToggleLeft { margin-left: 16.5%; }
*/
 /* slideToggle END */

.rangeSlider { margin: 1em 0 0; }

.deleteX { float: right; margin-left: .25em; border: 1px solid silver; line-height: 1em; }

.listTable {
 vertical-align: middle;
 border-collapse: collapse;
 text-align: center;
}

.listTable td {
 font-size: .85em;
 border-width: 1px;
 padding: 3px;
 border-style: solid;
}

.sorting_disabled {
   padding: .25em 1em;
}

.listTable th.sorting_asc, th.sorting_desc {
 text-decoration: underline;
}

.listTable .odd td {
 border-color: #CED7E1;
 background-color: white;
}

.listTable .even td {
 border-color: #CED7E1;
 background-color: #F2F2F2;
}

.editableListDescription {
	text-align:justify;
	width: 50%;
	padding: 5%;
}

ul.editableList {
 display: inline-block;
 padding: 0;
 list-style-type: none;
 cursor: pointer;
 border: 1px solid silver;
 min-width: 9em;
}

ul.editableList > li {
 display: block;
 padding: .25em;

 color: hsl(204, 70%, 59%);
 background: #F0F3F6;
 background: hsl(210, 25%, 95%);

 background: -webkit-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%);
 background: -ms-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%); 
 background: -moz-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%);
 background: -o-linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%); 
 background: linear-gradient(top, #F0F3F6 50%, #E5E5E5 99%);
 cursor: pointer;

}

.editableListPlaceholder {
 display: table-row;
 border: 0 !important;
 background-color: red !important;
 padding: 0 !important;
 width: 100%;
 height: 2em;
}

.inline {
	display: inline;
}

.callout {
	z-index:20;
	position:absolute;
	top:15px;
	border:0;
	left:292px;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */   
}

.inlineHelp {
	display: none;
}

.errorInput {
	border-bottom: 2px solid red;
}
/* TODO: make image for slider handles. .ui-slider-handle { background: url("images/ui-bg_glass_custom_slider_handle.png") repeat-x scroll 50% 50% #E6E6E6; } */

/*Override jQuery*/
.ui-widget { 
font-size: .95em;
}

.listTable th.sorting_asc, th.sorting_desc, th.sorting {
	padding: .25em 1em;
}


/*ABOUT PAGE STYLE*/
#aboutSabai {
	padding: 0.5em 2.5em 2em;
}

/*LOGS PAGE*/
#logstxtarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

#txtareadiv {
	width: 50px;
	font-size: 20px;
}

/*RADIO PAGE*/

.indented {
	margin-left: 10%;
}

.smallwidth tr td:first-child {
	min-width: 4em;
}

/*contrack page accordion*/

.underlined {
	text-decoration: underline;
}

.delete {
    text-decoration: none;
    color: #0B3155 ;
}

#accordion > .ui-accordion-header {
	border-radius: 0px;
	background: none repeat scroll 0 0 #CED7E1;
	color: #1B75BB;
	font-weight: bold;
	border: none;
	margin-top: .5em;
}

#accordion > h3 > .delete {
	z-index: 10;
}

#accordion > .ui-accordion-content {
	border-radius: 0px;
	background: none repeat scroll 0 0 #EFF2F5;
	font: 16px Arial,Helvetica,sans-serif;
	border: none;
	margin-bottom: .5em;
}


/*Help Section */

h4 {
	margin: .5em 0;
}

#goToHelp {
text-decoration: none;
color: blue;
}

#helpArea {
 	position: relative;
	float:right;
	z-index: 10;
}

 #helpButton {
 	position: absolute;
 	top: 0;
 	right: 0;
	margin: 0;
	padding: .25em .25em;
	text-decoration: none;
	height: 1.75em;
}

#helpClose {
 	position: absolute;
 	top: 0;
 	right: 0;
	margin: 0;
	padding: .25em .25em;
	text-decoration: none;
	height: 1.75em;
	z-index: 20;
}
#helpSection {
 	position: absolute;
 	top: 0;
 	right: 0;
	display: none;
	width: 240px;
	height: auto;
	padding: 0.5em;
	margin: 0;
	z-index: 10;
}

#helpSection h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
}